ul {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
.page-header {
  width: 320px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  background-color: #eeeeee;
  align-items: center;
}
@media (min-width:900px) {
  .page-header {
    width: 1170px;
  }
}
.page-header__image {
  width: 160px;
  height: 65px;
}
.page-header__image {
  margin-right: auto;
}
.page-header__humbg {
  margin-left: auto;
}
.page-header__humbg-span {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: black;
  border: 1px solid black;
  left: 0px;
  display: inline-block;
}
.page-header__humbg-span:after {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  border: 1px solid black;
  left: 0px;
  top: 10px;
  display: inline-block;
  content: "";
}
.page-header__humbg-span:before {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  border: 1px solid black;
  left: 0px;
  top: 20px;
  display: inline-block;
  content: "";
}
@media (min-width:900px) {
  .page-header__humbg {
    display: none;
  }
}
.main-navigation {
  display: none;
}
.main-navigation__list {
  list-style: none;
}
.main-navigation__link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
@media (min-width:900px) {
  .main-navigation {
    display: block;
    background-color: transparent;
    padding: 0;
  }
  .main-navigation__list {
    display: flex;
    list-style: none;
  }
  .main-navigation__item {
    margin-right: 50px;
  }
  .main-navigation__item--mod {
    margin-left: auto;
    margin-left: 180px;
  }
}
.slider {
  width: 320px;
  margin: 0 auto;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
@media (min-width:900px) {
  .slider {
    width: 1170px;
  }
}
.hidden-input {
  display: none;
}
.slider__controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}
.slider__slide {
  display: none;
}
#btn-1:checked ~ .slider #slide-1,
#btn-2:checked ~ .slider #slide-2,
#btn-3:checked ~ .slider #slide-3 {
  display: block;
}
#btn-2:checked ~ .slider #slide-2 {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#btn-3:checked ~ .slider #slide-3 {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#btn-1:checked ~ .slider label[for="btn-1"],
#btn-2:checked ~ .slider label[for="btn-2"],
#btn-3:checked ~ .slider label[for="btn-3"] {
  background-color: black;
}
.slider__slide {
  background-image: url("../nerds/brown.png");
  background-image: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  pagging-left: 100px;
}
.slide-1 {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__title {
  color: #000000;
  font-size: 55px;
  line-height: 55px;
  font-weight: 400;
}
.slider__text {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  margin-bottom: 50px;
}
.slider__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  padding: 20px 50px;
  background-color: #fb565a;
}
.slider__title {
  margin: 0;
  padding-top: 20px;
}
.slider__controls {
  margin: 0 auto;
  display: inline-block;
}
@media (min-width:900px) {
  #btn-2:checked ~ .slider #slide-2 {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0%;
  }
  #btn-3:checked ~ .slider #slide-3 {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0%;
  }
  #btn-1:checked ~ .slider #slide-1 {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 0%;
  }
  .slider__slide {
    height: 300px;
  }
  .slider__title {
    margin: 0;
    padding-top: 80px;
  }
  .slider__controls {
    margin-left: auto;
    margin-right: auto;
  }
  .slide {
    display: flex;
    flex-wrap: wrap;
  }
  .slider__slide {
    width: 45%;
    padding-right: 55%;
    padding-bottom: 80px;
  }
}
.features {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
@media (min-width:900px) {
  .features {
    width: 1170px;
  }
}
.features__title {
  color: #000000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.features__text {
  padding-bottom: 10px;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}
.features__link {
  padding: 15px 35px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  background-color: #fb565a;
}
.features__link--color2 {
  background-color: #00ca74;
}
.features__link--color3 {
  background-color: #efc84a;
}
.features__item {
  margin-bottom: 50px;
}
@media (min-width:900px) {
  .features {
    flex-direction: row;
  }
  .features__item {
    width: 300px;
    margin-right: 90px;
  }
  .features__text {
    margin-bottom: 35px;
  }
}
.information {
  display: flex;
  width: 320px;
  margin: 0 auto;
  flex-direction: column;
  border-top: 1px solid #cccccc;
  padding-bottom: 50px;
}
@media (min-width:900px) {
  .information {
    width: 1170px;
  }
}
.information__statistic {
  order: -1;
}
.information__items {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.information__list {
  list-style: none;
}
.information__item:before {
  content: "\2013";
  color: #fb565a;
  margin-right: 5px;
}
.information__item {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (min-width:900px) {
  .information__statistic {
    order: 1;
  }
  .information {
    flex-direction: row;
    padding-top: 70px;
    justify-content: space-between;
  }
  .information__statistic {
    width: 40%;
  }
  .information__content {
    width: 40%;
  }
  .information__title {
    color: #000000;
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
  }
  .information__text {
    color: #283136;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .information__text--mod {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
  }
  .information__img {
    margin-bottom: 85px;
  }
  b {
    color: #000000;
    font-size: 45px;
    line-height: 10,06px;
    font-weight: 700;
  }
  .information__item2 {
    color: #283136;
    font-size: 16px;
    line-height: 18px;
    font-weight: 200;
    width: 10%;
  }
}
.brands {
  width: 320px;
  margin: 0 auto;
  padding-top: 200px;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  background-image: url('../img/brands-logo-1.png'), url('../img/brands-logo-2.png');
  background-repeat: no-repeat;
  background-position: 0% 0%,100% 100%;
}
@media (min-width:900px) {
  .brands {
    width: 1170px;
  }
}
@media (min-width:900px) {
  .brands {
    background-image: url('../img/brands-logo-1.png'), url('../img/brands-logo-2.png'), url('../img/brands-logo-3.png'), url('../img/brands-logo-4.png');
    background-repeat: no-repeat;
    background-position: 10% 50%,40% 50%,65% 50%,90% 50%;
  }
}
.page-footer {
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 80px;
  justify-content: space-between;
}
@media (min-width:900px) {
  .page-footer {
    width: 1170px;
  }
}
.page-footer__social-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 30px;
}
@media (min-width:900px) {
  .page-footer__social-container {
    flex-direction: row;
    margin-right: 100px;
    align-self: center;
  }
  .page-footer {
    justify-content: center;
  }
  .page-footer__title {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }
  .page-footer__text {
    color: #283136;
    font-size: 16px;
    line-height: 22px;
    font-weight: 200;
  }
}
.social-btn {
  font-size: 0;
  margin-bottom: 8px;
  width: 30px;
  height: 30px;
  background-image: url("../img/sprite-social.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: -100px 0px;
  border-radius: 50%;
  border: 1px solid #000000;
}
.social-btn--vk {
  background-position: -150px 0px;
}
.social-btn--inst {
  background-position: -50px 0px;
}
@media (min-width:900px) {
  .social-btn {
    margin-left: 20px;
  }
}
